.swiper {
  height: 212px;
  position: relative;

  .search {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 85%;
    display: flex;
    background-color: #fff;
    border-radius: 5px;

    .location {
      width: 55px;
      font-size: 14px;
      margin: 2px 2px;
      border-right: 1px solid #ccc;
      align-items: center;
      justify-content: center;
      display: flex;

      .iconfont {
        font-size: 14px !important;
      }
    }

    .am-search {
      padding-left: 100px;
      flex: 1;
      background-color: rgba($color: #f5f5f9, $alpha: 0.0);
      height: 28px;
      padding: 0;
    }
  }

  .icon-map {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #fff;
  }
}

.nav {
  padding: 10px 0;

  .am-flexbox-item {
    text-align: center;
  }

  img {
    width: 48px;
  }

  h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
  }
}

.navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f9;

  h2 {
    flex: 10;
  }

  a {
    flex: 1;

    &:link {
      color: #f5f5f9;
    }

    &:visited {
      color: #aeaeae;
    }
  }
}

.rentBox {
  background-color: #f5f5f9;
}

.rentGrid {
  margin: 0 10px;
  padding-bottom: 5px;
}

.rentFlex {
  display: flex;
  padding: 10px;

  .rentTop {
    flex: 2;

    .title {
      font-weight: 600;
    }
  }

  img {
    flex: 1;
    width: 65px;
    height: 55px;
  }
}

.am-grid .am-flexbox {
  background-color: inherit;
}

.am-flexbox {
  margin-bottom: 10px;

  .am-flexbox-item {
    background-color: #fff;

    .am-grid-item-content {
      padding: 0 !important;
    }

    &:first-child {
      margin-right: 10px;
    }
  }
}

.houseMsg {
  h2 {
    padding: 10px 10px;
    font-size: 16px;
  }

  .msgItem {
    display: flex;
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;

    img {
      width: 150px;
      height: 120px;
    }
  }

  .itemFlex {
    display: flex;
    padding: 0 10px;

    h3 {
      font-size: 14px;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;

      span {
        width: 100%;
        color: #9c9fa1;
        font-size: 12px;
        width: 36px;
      }
    }
  }
}