html,
body {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: 'Microsoft yaHei';
  background-color: #fff;
}

* {
  box-sizing: border-box;
  /* 去掉轮播图chrome浏览器的警告 */
  touch-action: pan-y;
}

h2,
h3 {
  margin: 0;
}
ul,
li {
  list-style: none;
}

html,
body,
#root,
#App {
  height: 100%;
}
